<h1> <%= @team.location%> <%= @team.team_name%> </h1> </br>
<p><a href="/teams">:^)</a></p>
</br>
</br>

<p>In <%= @team.location%>, the <%= @team.team_name%> run the show. When it comes to <%= @team.sport%>. These <%= @team.num_of_players%> player are some of the best. The <%= @team.team_name%> are looking to be one of the favorites for the big game, and would love to bring <%= @team.location%> the <%= @team.sport%> cup!</p>